<%- include('includes/head.ejs') %>
</head>

<body>
    <!-- <%- include('includes/navigation.ejs') %> -->
    <div class="centered__page">
        <img src="images/PageNotFound.jpg" alt="">
    </div>

<%- include('includes/end.ejs') %>