<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <div class="p__500">
        <h1>500</h1>
        <h2>Some Error Occured</h2> 
        <p>
            The server encountered something unexpected that didn't allow it<br>
            to complete the request. We apologize.<br>
            You can go back to main page
        </p>
        <a href='/'><button class="btn" type="submit">BACK TO HOMEPAGE</button></div></a>
    </div>

<%- include('includes/end.ejs') %>